body{
    background: blue;
}

.mundo{
    height: 200px;
    margin: 100px;
}

.boton{
    background: black;
    color: white;
    border: none;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}